<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>aika</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
  <style>
  html,body{
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
  }
  body{
    color: #ffffff;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  }
  h1{
    font-size: 60px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    overflow: hidden;
    height: 1.4em;
    padding: 0px 80px 0px 80px;
  }
  h2,h3{
    text-align: center;
    margin-bottom: 40px;
    overflow: hidden;
    height: 1.4em;
    padding: 0px 80px 0px 80px;
  }
  p{
    overflow: hidden;
    height: 1.5em;
    font-size: 40px;
    padding: 0px 80px 0px 80px;
  }
  .button_a_center {
  text-align: center;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
 }
  </style>
</head>
<body>
  <h1>@title</h1>
  <h3>@date</h3>
  <a href="#" class="button_a_center">
　<button>会議に参加する</button>
  </a>
  <h3>@agenda</h3>
</body>
</html>
